/Seminda.Rajapaksha.Todo.Api/bin
/Seminda.Rajapaksha.Todo.Api/obj
/Seminda.Rajapaksha.Todo.Api.Tests/obj
/Seminda.Rajapaksha.Todo.Api.Tests/bin
/Seminda.Rajapaksha.Todo.Api/.vs/Seminda.Rajapaksha.Todo.Api/config/applicationhost.config
